* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  box-sizing: border-box;
  color: var(--white);
}

:root {
  --black: #0c0b0b;
  --grey: #131212;
  --lightgrey: #313131;
  --white: #b7b7b7;
  --green: #046313;
  --blue: #044a7d;
  --yellow: #725200;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  color: var(--white);
  background-color: var(--black);
}

#main-box {
  width: 80%;
  height: 85%;
  background-color: var(--grey);
  padding-top: 1rem;
  position: absolute;
}

button {
  background-color: transparent;
  width: 5rem;
  background-color: var(--lightgrey);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.3rem auto 0 auto;
  border-radius: 3px;
  gap: 0.1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--grey);
}

/*profile-section*/

#profile-section {
  margin-bottom: 2rem;
  text-align: center;
}

#profile-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  position: absolute;
  top: -2.5rem;
}

#contact-box {
  margin-top: 2rem;
}

#contact-box span {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

/*profile-section*/

.box {
  height: 6.5rem;
  width: 70%;
  padding: 0.8rem 0 0.2rem 0.7rem;
  margin: 1rem auto 1rem auto;
  border-radius: 7px;
}

.box p {
  font-size: 1.1rem;
  font-weight: bold;
}

.box span {
  font-size: 2.5rem;
}

.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

/*desktop*/

@media (min-width: 1024px) {
  button {
    margin: 0 0.6rem 0 0;
  }
  #main-box {
    width: 50%;
    height: 50%;
  }

  .profile-picture {
    position: initial;
  }

  #profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }

  #contact-box {
    margin: 0;
  }

  #profile-info {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  #box-content {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .box {
    width: 25%;
    margin: 0;
  }
}
